In [1]:
from housing_pricer.scraping.sdk.data_manager import DataManager
from housing_pricer.data_processing.data_processing_utils import format_to_dataframe
import pandas as pd

pd.set_option('display.max_columns', None)
DATA_STORAGE = "../scraping/data_storage"

data = DataManager(DATA_STORAGE).load_data()
listings = format_to_dataframe(data)
listings

Processing html content...: 22448it [00:00, 22968.08it/s]

,url_listing_type,url_listing_id,booli_id,sold_date,days_listed,residence_type,address,apartment_number,urban_area,municipality,construction_year,list_price,sold_price,sold_price_type,first_price,monthly_payment,rent,operating_cost,energy_class,floor,building_floors,latitude,longitude,has_solar_panels,agency_id,agent_id,booli_id_of_previous_sales,n_previous_sales
0,bostad,2556516,5153109,2023-12-05,25.0,Villa,Västerbyvägen 9,None,Norsholm,Norrköping,1979.0,3325000.0,3250000.0,Slutpris,3 325 000,None,NaN,4398.0,D,None,NaN,58.505988,15.976788,None,26,11016,[5153109],1
1,bostad,1890105,5147734,2023-12-05,32.0,Villa,Sliparevägen 3,None,Rejmyre,Finspång,1978.0,1495000.0,1495000.0,Slutpris,1 495 000,None,NaN,4102.0,C,None,NaN,58.826413,15.938500,None,962,9543,"[5147734, -9035770]",2
2,bostad,1706785,5168064,2023-12-05,8.0,Villa,Kronoparksvägen 22,None,Ivetofta,Bromölla,1980.0,2095000.0,2400000.0,Slutpris,2 095 000,None,NaN,2648.0,C,None,NaN,56.091915,14.466163,None,20,11931,"[5168064, 984971, 350836]",3
3,bostad,3997519,5078126,2023-12-05,102.0,Lägenhet,Borgarfjordsgatan 21B,1303,Kista,Stockholm,2015.0,2495000.0,2450000.0,Slutpris,2 595 000,None,4274.0,NaN,D,3,NaN,59.404946,17.941505,None,16,6529,[5078126],1
4,annons,5119460,5119460,2023-12-05,39.0,Lägenhet,Rålambsvägen 48,None,Fredhäll,Stockholm,1931.0,3400000.0,3400000.0,Slutpris,3 195 000,None,2213.0,855.0,None,3,NaN,59.330127,18.005056,None,34,9162,[5119460],1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22443,bostad,1595611,5034595,2023-10-13,20.0,Villa,Gamla Slättängsvägen 26,None,Åsumtorp,Kristianstad,1939.0,2395000.0,2450000.0,Lagfart,2 395 000,None,NaN,NaN,None,None,NaN,56.000469,14.145771,None,12,9092,"[5034595, 2362538, 1123332, 247468]",4
22444,bostad,1973792,5007829,2023-10-13,17.0,Kedjehus,Tuvegatan 6,None,Ödåkra,Helsingborg,1969.0,3995000.0,3995000.0,Lagfart,3 995 000,None,NaN,4555.0,D,None,NaN,56.105605,12.741333,None,28,8890,"[5007829, -9184904, 918199]",3
22445,bostad,2452325,4972147,2023-10-13,120.0,Kedjehus,Karlavägen 36,None,Olofström,Olofström,1958.0,NaN,1300000.0,Lagfart,None,None,NaN,2499.0,G,None,NaN,56.268779,14.529709,None,16,11270,"[4972147, 4225542]",2
22446,bostad,1800371,4960494,2023-10-13,24.0,Villa,Nydalagatan 10,None,Öland,Borgholm,1939.0,2250000.0,2350000.0,Lagfart,2 250 000,None,NaN,3050.0,None,None,NaN,56.873036,16.675064,None,12,2399,"[4960494, -9291743, -7388155]",3
22447,bostad,1993930,5045830,2023-10-13,56.0,Villa,Vetevägen 5,None,Gamleby,Västervik,1963.0,875000.0,775000.0,Lagfart,875 000,None,NaN,3035.0,None,None,NaN,57.897194,16.398003,None,34,5599,"[5045830, 1076308]",2